doctype html
html(lang="en")
  head
    include ../../partials/meta

    include ../../partials/share

    link(rel="canonical" href="https://pepperlabs.io")
    title build better products with an experienced team

    include ../../partials/style
  body
    .site-wrapper
      section.common-hero
        include ../../partials/logo-bw
        .common-hero__wrapper
          header.common-hero__text
            .common-hero__text__wrapper
              h1.common-hero__text__header technology
              div
                h2.common-hero__text__subheader
                  | „Our highest priority is to satisfy the customer through early and continuous
                  | delivery of valuable software.”
                  br
                  | Successful companies have one thing in common: they have a great team!
                  | We understand that it's hard to hunt for engineering talent, so we did that for you!
          .common-hero__illustration
            img.common-hero__illustration__image(src="/static/content-page-hero.svg", alt="")

      article.content
        .content__wrapper
          header.content__header
            | Our company provides top technical talent to clients of all sizes.
            | We believe that well-crafted software, delivered on time, on budget,
            | leads to more leads and grows your business.

          p
            | We build progressive, scalable, value-driven solutions that solve your problems.
            | You will have enough time to focus on major things that influence your company.

          .content__section
            h1 Scope clarification, requirement defect prevention
            p
              | Our full stack agile developer, and product management team is ready to jump into the
              | early phase of the product development. We have years of experience in digital product
              | development so that we can help you to find the most important feature sets and avoid
              | unnecessary software components.
            p
              | A bit foretaste for the practices what we use:
            ul
              li market research
              li user story mapping
              li UX/UI guidance
              li backlog creation
              li turning backlog into a roadmap

          .content__section
            h1 Frequent and early delivery
            p
              | Once we get started the development, we prefer early and frequent delivery. We believe
              | in collaboration and trust, so we involve our clients, hold stand-up meetings, follow
              | coding standards, and demonstrate progress on demand, with a live demo of working software.

          .content__section
            h1 Responding to change
            p
              | We know that a comprehensive plan is not a silver bullet in a rapidly changing environment.
              | As we live the agile values, we welcome change at all times, even late in development. In
              | this way, we can guarantee the customer gets exactly what they need, as well as gaining a
              | competitive advantage. As you can see above we prioritize the features and functions early
              | on in a project, however, we also know that it is critical to respond to the changed circumstances.

          .content__section
            h1 Quality
            p
              | PepperLabs can help you to achieve nearly zero bugs. Your product solves a really difficult
              | problem, has to meet performance and security requirements, with stable operation. The idea
              | of "no bugs" probably sounds ridiculous. We'll admit: "no bugs" is an ideal to strive for,
              | not something your product will necessarily achieve. You might think that improvements like
              | this are terribly expensive. They're not. With the engineering practices that we use (pair
              | programming, TDD, CI/CD) we are constantly striving to keep the number of bugs near zero.


        section.services
          .services__wrapper
            h2.services__title Our services in a nutshell:

            ul.services__list
              li.services__list__item
                .services__list__item__wrapper Implement processes around code at scale
              li.services__list__item
                .services__list__item__wrapper Bring state of the art architecture to your application
              li.services__list__item
                .services__list__item__wrapper Reduce time to market
              li.services__list__item
                .services__list__item__wrapper Technology Planning and Evaluation
              li.services__list__item
                .services__list__item__wrapper Legacy code modernization
              li.services__list__item
                .services__list__item__wrapper Proof of Concept Development
              li.services__list__item
                .services__list__item__wrapper API Development

      include ../../partials/contact
