doctype html
html(lang="en")
  head
    include ../../partials/meta

    include ../../partials/share

    link(rel="canonical" href="https://pepperlabs.io")
    title build better products with an experienced team

    include ../../partials/style
  body
    .site-wrapper
      section.common-hero
        include ../../partials/navbar

        .common-hero__wrapper
          header.common-hero__text
            .common-hero__text__wrapper
              h1.common-hero__text__header Product vision
              div
                h2.common-hero__text__subheader
                  | The best companies go about building great products differently.
                  | We embed with your product development team and provide onsite engineering, mentoring, coaching
                  | and consultancy services so that you can impress your customers and have a huge impact on the market.

      article.content
        .content__wrapper
          header.content__header
            | We have a proven track record in the development of leading products. We know, how great products are built,
            | and we can help you build them, too.

          p
            | Our full stack, end-to-end agile development team will bring cutting edge technology, fine-tuned development
            | practices and processes in your business. Our holistic approach and mindset differentiate us from other
            | consultancies and software development companies. Our engineers, product specialist, agile coaches won’t
            | just talk about the best practices, but help you to build your own capability.

          .content__section
            h1 Think differently
            p
              | To help you improve your process, and to help programmers notice mistakes as they code, we help them to
              | shape their thinking. PepperLabs helps to start various engineering practices like pair programming and
              | energized work. Help them to build an informative workspace and guide them to utilize root-cause analysis
              | and even retrospectives.

          .content__section
            h1 Start real collaboration
            p
              | We believe in collaboration and trust. By your team sit together, involve a real customer, hold stand-up
              | meetings, follow coding standards, and demonstrate progress weekly. PepperLabs will augment in your tech
              | team and help programmers coordinate with each other and prevent requirements defects.

          .content__section
            h1 Make releasing easy
            p
              | PepperLabs help keep the code organized and clean by making the build run under ten minutes, implement a
              | Continuous Integration pipeline, educate the programmers to use a version control system effectively. We
              | encourage every programmer to take collective ownership of all the code.

          .content__section
            h1 Provide structure
            p
              | We can provide structure and support for the other practices by the plan each release, hold planning
              | sessions weekly. By focusing only on the next week's work and track the progress correctly, we can help
              | programmers to estimate better.

          .content__section
            h1 Implement engineering practices
            p
              | We help to improve design quality, reduce requirements defects, and provide a way for testers to be
              | involved in defect prevention as well as defect detection. To achieve these results, PepperLabs introduce
              | programmers to test-driven development (TDD), various refactoring techniques, train them on how to design
              | software iteratively and simple.

        section.services
          .services__wrapper
            h2.services__title Our services in a nutshell:

            ul.services__list
              li.services__list__item
                .services__list__item__wrapper Agile engineering and DevOps culture
              li.services__list__item
                .services__list__item__wrapper Cutting edge CI/CD pipeline and cloud native platform
              li.services__list__item
                .services__list__item__wrapper Introduction of engineering best practices like TDD and pair programming
              li.services__list__item
                .services__list__item__wrapper Legacy code modernization
              li.services__list__item
                .services__list__item__wrapper Minimum Viable Product workshops
              li.services__list__item
                .services__list__item__wrapper Product discovery workshops
              li.services__list__item
                .services__list__item__wrapper User story mapping
              li.services__list__item
                .services__list__item__wrapper Product roadmap
              li.services__list__item
                .services__list__item__wrapper Product development

      include ../../partials/contact
