@import '../style/variables.scss';

.logo {
  position: relative;
  z-index: 3;
}

.notfound {
  $navbarSize: 61px;
  height: 100vh;
  margin-top: -$navbarSize;
  overflow: hidden;
  position: relative;

  @media only screen and (min-width: $maxWidth) {
    border-top-right-radius: 9px;
  }

  &__content {
    margin-top: $navbarSize;
    padding: 17px;
  }

  &__illustration {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    height: 110%;
    display: inline-block;
    margin-bottom: -10%;
    background-image: linear-gradient(to bottom, #64A1C4, #FFA585 50%, #FFB37C 100%);
    transform: translateX(7%);

    @media #{$iPad} {
      display: none;
    }
  }
}

.title {
  padding: 0;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  color: $red;
  font-size: 11em;
  margin: 0 0 11px;
  position: relative;
  line-height: .7;
  z-index: 2;
}

.subtitle {
  padding: 0;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  color: $gray;
  font-size: 4em;
  margin: 0 0 11px;
  position: relative;
  z-index: 2;
}
