doctype html
html(lang="en")
  head
    include ../partials/meta

    title PepperLabs.io | 404 chill out
  body
    .site-wrapper
      include ../partials/logo

      .notfound
        .notfound__content
          h1.title 404
          h2.subtitle chill out
        .notfound__illustration
          include chill.svg
