doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Do you have insane deadlines? Your development team is always late? You just need that one project to scale up? Do you always have lots of bugs? Build better software with us.")
    meta(name="keywords" content="better software, agile, extreme programming, TDD, bugs, web, application, mobile, ios, android")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#ec3a3a")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    meta(property="og:image:height" content="377")
    meta(property="og:image:width" content="720")
    meta(property="og:title" content="PepperLabs.io")
    meta(property="og:description" content="Software development problems?")
    meta(property="og:url" content="https://pepperlabs.io")
    meta(property="og:image" content="https://pepperlabs.io/og-share.png")
    title PepperLabs.io
    style.
      body {
        margin: 0;
      }

      .logo {
        position: absolute;
      }

      .hero {
        background-color: #2B2B2B;
      }

      .hero__wrapper {
        height: 100vh;
      }
  body
    .site-wrapper
      .logo
        img.logo__image(src="/logo-grayscale.svg" alt="PepperLabs.io" width="40")
        .logo__text
          strong Pepper
          | Labs

      .hero
        .hero__wrapper
          .hero__text
            .hero__text__wrapper
              h1.hero__text__header build better software
              div
                a(href="#").button.button--white find out more
          .hero__illustration
            img(src="/hero.svg" alt="PepperLabs.io" width="100%" height="100%")


      .team
        .team__illustration
          img(src="/pepper.svg" alt="Spice up your development")
        .team__content
          h2.team__header well-seasoned, battle-tested team
          .team__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo massa eu auctor gravida. In vitae leo eu metus iaculis volutpat. Quisque at lorem quis dui rutrum lobortis. In at purus sit amet neque sagittis venenatis et ut lacus. Aliquam eu quam ultrices risus cursus feugiat. Quisque ullamcorper imperdiet commodo.

      .testimonials
        .testimonials__content
          h3.testimonials__header trusted by our employers
          img.testimonials__illustration(src="/testimonials.svg" alt="trusted by our employers" width="100%")
