@import '../style/variables.scss';

.hero {
  z-index: 1;
  background-image: linear-gradient(to bottom right, darken($gray, 10%), lighten($gray, 10%));

  &__wrapper {
    position: relative;
    overflow: hidden;
    height: 80vh;
    min-height: 600px;

    @media #{$mobile} {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__text {
    $size: 5.5em;
    position: absolute;
    width: 45%;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    word-spacing: 100%;
    margin-left: 17px;

    @media (max-aspect-ratio: 4/3) {
      top: 5%;
      transform: none;
      padding: 55px;
    }

    @media #{$mobile} {
      text-align: center;
      transform: none;
      width: auto;
      padding: 0;
      margin: 37px 0 0 0;
      position: static;
    }

    &__wrapper {
      text-align: left;
      display: inline-block;

      @media #{$mobile} {
        padding: 17px;
      }
    }

    &__header {
      padding: 0;
      font-weight: bold;
      font-family: 'Roboto Slab', serif;
      color: #fff;
      font-size: $size;
      display: inline-block;
      width: $size;
      line-height: 1.1;
      margin: 0 0 11px;

      @media #{$tallMobile} {
        font-size: $size * .8;
      }

      @media #{$mobile} {
        font-size: $size * .7;
        width: auto;
      }
    }

    &__subheader {
      color: #fff;
      font-weight: normal;
      max-width: 500px;
    }
  }

  &__illustration {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    transform: translateX(25%);
    pointer-events: none;

    @media (max-aspect-ratio: 4/3) {
      width: 100%;
    }

    @media #{$mobile} {
      height: auto;
      width: auto;
      position: static;
      max-height: 80vh;
    }

    $postAnimationDuration: 2s;
    .post {
      backface-visibility: hidden;
      transform: translateY(129px) translateX(58px);
      animation: post-elevation $postAnimationDuration .1s ease-in-out forwards,
        post-pulse 3s $postAnimationDuration + .1s ease-in-out infinite;
    }

    @keyframes post-elevation {
      from {
        transform: translateY(129px) translateX(58px);
      }

      to {
        transform: translateY(0) translateX(0);
      }
    }

    @keyframes post-pulse {
      0% {
        transform: translateY(0) translateX(0) scale(1);
      }

      50% {
        $yTranslateSize: 10px;
        $ratio: 0.449612403100775;
        $xTranslateSize: $yTranslateSize * $ratio;
        transform: translateY($yTranslateSize) translateX($xTranslateSize);
      }

      100% {
        transform: translateY(0) translateX(0) scale(1);
      }
    }

    .post-background {
      fill: rgb(178, 44, 44);
      animation: post-background $postAnimationDuration .1s ease-out forwards;
    }

    @keyframes post-background {
      from {
        fill: rgba(0, 44, 44, .7);
      }

      to {
        fill: rgba(178, 44, 44, 1);
      }
    }
  }
}

.team {
  max-width: 1200px;
  padding: 47px 17px;
  margin: 0 auto;
  display: flex;

  @media #{$mobile} {
    flex-direction: column-reverse;
    max-width: 100%;
  }

  &__content {
    width: 500px;
    margin: 71px 0 0 -180px;

    @media #{$mobile} {
      width: auto;
      margin: 0;
    }
  }

  &__illustration {
    margin-left: 45px;

    @media #{$tallMobile} {
      margin-left: -57px;
    }

    @media #{$mobile} {
      overflow-x: hidden;
      margin: 0 -17px;
    }

    img {
      @media #{$mobile} {
        width: 150%;
        margin-left: 25%;
        max-height: 70vh;
      }
    }
  }

  &__header {
    margin: 0;
    color: $red;
    font-size: 3em;
    font-weight: bolder;
    line-height: 1;
  }
}

.testimonials {
  $illustrationNegativeSpaceSize: 296px;
  padding-bottom: $illustrationNegativeSpaceSize;
  overflow-x: hidden;

  &__content {
    background-image: linear-gradient(to bottom right, darken($gray, 10%), lighten($gray, 10%));
    padding: 17px;
  }

  &__text {
    color: #fff;
    padding: 37px;
    font-size: 2.25em;
    font-weight: bolder;
    line-height: 1;
    max-width: 960px;
    margin: 37px auto -250px auto;

    @media #{$mobile} {
      margin: 0 auto -100px auto;
      font-size: 1.5em;
      padding: 17px;
    }
  }

  &__illustration {
    width: 1692px;
    transform: translateY(40%) translateX(-50%);
    position: relative;
    left: 50%;

    @media #{$mobile} {
      transform: translateY(42.4%) translateX(-50%);
      position: relative;
      width: 900px;
    }
  }

  &__employers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 960px;
  }

  &__employer {
    transform: scale(0.3);
  }
}

.contact {
  position: relative;
  z-index: 2;
  margin: -250px auto 0 auto;
  max-width: 960px;

  @media #{$mobile} {
    padding: 0 17px;
    margin: -200px auto 0 auto;
  }

  &__header {
    color: $red;
    font-size: 3.2em;
    font-weight: bolder;
  }

  &__content {
    margin: 37px 0;
    font-size: 1.5em;
    text-align: center;
  }

  &__link {
    color: $gray;
    font-weight: bold;
  }
}
