@import '../style/variables.scss';

.hero {
  z-index: 1;
  background-image: linear-gradient(to bottom right, darken($gray, 10%), lighten($gray, 10%));

  &__wrapper {
    position: relative;
    overflow: hidden;
    height: 75vh;
    min-height: 500px;

    @media #{$mobile} {
      min-height: 580px;
    }
  }

  &__text {
    $size: 5.5em;
    position: absolute;
    width: 45%;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    word-spacing: 100%;
    margin-left: 17px;

    @media (max-aspect-ratio: 4/3) {
      top: 5%;
      transform: none;
      padding: 55px;
    }

    @media #{$mobile} {
      text-align: center;
      transform: none;
      width: auto;
      padding: 0;
      position: static;
    }

    &__wrapper {
      text-align: left;
      display: inline-block;

      @media #{$mobile} {
        padding: 17px;
      }
    }

    &__header {
      padding: 0;
      font-weight: bold;
      font-family: 'Roboto Slab', serif;
      color: #fff;
      font-size: $size;
      display: inline-block;
      width: $size;
      line-height: 1.1;
      margin: 0 0 11px;

      @media #{$tallMobile} {
        font-size: $size * .8;
      }

      @media #{$mobile} {
        font-size: $size * .6;
        width: auto;
      }

      @media #{$smallMobile} {
        font-size: $size * .4;
      }
    }

    &__subheader {
      color: #fff;
      font-weight: normal;
      max-width: 500px;

      @media #{$mobile} {
        font-size: 1.3em;
      }
    }
  }

  &__illustration {
    height: 80%;
    width: 80%;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    transform: translateX(18%);
    pointer-events: none;

    @media (max-aspect-ratio: 4/3) {
      width: 100%;
    }

    @media #{$mobile} {
      height: 550px;
      width: 750px;
      max-height: 80vh;
      transform: translate(38%, 50%);
    }

    @media only screen and (min-width: 1600px) {
      width: 100%;
      height: 100%;
    }

    @media only screen and (min-height: 1300px) {
      width: 80%;
      height: 80%;
    }

    $postAnimationDuration: 2s;

    .post {
      backface-visibility: hidden;
      transform: translateY(129px) translateX(58px);
      animation: post-elevation $postAnimationDuration .1s ease-in-out forwards,
      post-pulse 3s $postAnimationDuration + .1s ease-in-out infinite;
    }

    @keyframes post-elevation {
      from {
        transform: translateY(129px) translateX(58px);
      }

      to {
        transform: translateY(0) translateX(0);
      }
    }

    @keyframes post-pulse {
      0% {
        transform: translateY(0) translateX(0) scale(1);
      }

      50% {
        $yTranslateSize: 10px;
        $ratio: 0.449612403100775;
        $xTranslateSize: $yTranslateSize * $ratio;
        transform: translateY($yTranslateSize) translateX($xTranslateSize);
      }

      100% {
        transform: translateY(0) translateX(0) scale(1);
      }
    }

    .post-background {
      fill: rgb(178, 44, 44);
      animation: post-background $postAnimationDuration .1s ease-out forwards;
    }

    @keyframes post-background {
      from {
        fill: rgba(0, 44, 44, .7);
      }

      to {
        fill: rgba(178, 44, 44, 1);
      }
    }
  }
}

.team {
  padding: 47px 0;
  margin: -250px auto 0 auto;
  display: flex;

  @media #{$mobile} {
    max-width: 90%;
    margin: -250px auto 0;
  }

  &__content {
    flex: 1 1 60%;

    @media #{$mobile} {
      width: auto;
      margin: 0;
    }
  }

  &__side {
    flex: 1 1 20%;

    @media #{$mobile} {
      display: none;
    }
  }

  &__illustration {
    img {
      width: 120%;
      margin-left: -50%;

      @media #{$mobile} {
        display: none;
      }
    }
  }

  &__header {
    margin: 0 0 43px;
    color: $red;
    font-size: 3em;
    font-weight: bolder;
    line-height: 1;
  }

  &__members {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    @media #{$mobile} {
      display: block;
    }
  }

  &__member {
    $margin: 27px;
    flex: 1 1 50%;
    max-width: 50%;
    display: flex;

    @media #{$mobile} {
      display: block;
      max-width: none;
    }

    &__picture {
      $pictureSize: 130px;
      flex: 0 0 $pictureSize;
      width: $pictureSize;
      height: $pictureSize;
      overflow: hidden;
      border-radius: 50%;
      margin: $margin;
      box-shadow: 11px 11px 33px rgba(0, 0, 0, .3);

      @media #{$mobile} {
        $mobileSize: $pictureSize * 0.9;
        flex: 0 0 $mobileSize;
        width: $mobileSize;
        height: $mobileSize;
        margin: $margin auto;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__info {
      margin: $margin 0 $margin;
      color: $gray;
    }

    &__name {
      font-size: 1.3em;
      font-weight: bold;
      color: $red;
    }

    &__responsibility {
      font-size: .9em;
      margin-bottom: 11px;
      color: lighten($gray, 18%);
    }

    &__bio {
      font-size: 1.2em;
    }
  }
}

.testimonials {
  $illustrationNegativeSpaceSize: 296px;
  padding-bottom: $illustrationNegativeSpaceSize;
  overflow-x: hidden;

  &__content {
    background-image: linear-gradient(to bottom right, darken($gray, 10%), lighten($gray, 10%));
    padding: 17px;
  }

  &__text {
    color: #fff;
    padding: 37px;
    font-size: 2.25em;
    font-weight: bolder;
    line-height: 1;
    max-width: 960px;
    margin: 37px auto -250px auto;

    @media #{$mobile} {
      margin: 0 auto -100px auto;
      font-size: 1.5em;
      padding: 17px;
    }
  }

  &__illustration {
    pointer-events: none;
    width: 1692px;
    transform: translateY(40%) translateX(-50%);
    position: relative;
    left: 50%;

    @media #{$mobile} {
      transform: translateY(42.4%) translateX(-50%);
      position: relative;
      width: 900px;
    }
  }

  &__employers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 37px;

    @media #{$mobile} {
      padding: 0 9px;
    }
  }

  &__employer {
    transform: scale(0.3);
  }
}

.contact {
  position: relative;
  z-index: 2;
  margin-top: 37px;
  background-color: $gray;
  color: #fff;
  padding: 37px 17px;

  &__header {
    text-align: center;
    font-size: 3.2em;
    font-weight: bolder;

    @media #{$mobile} {
      text-align: left;
      padding: 0 19px;
      font-size: 3em;
    }
  }

  &__content {
    margin: 37px 0;
    font-size: 1.5em;
    text-align: center;
  }

  &__link {
    color: #fff;
    font-weight: bold;
  }
}

.about {
  display: flex;
  color: $gray;
  max-width: 1200px;
  padding: 57px 17px;
  margin: 0 auto;

  @media #{$mobile} {
    display: block;
  }

  &__col {
    padding: 20px 0;
    flex: 1 1 33%;
    margin: 0 0.5%;
    border-right: 1px solid lighten($gray, 78%);

    @media #{$mobile} {
      border-right: none;
      border-bottom: 1px solid lighten($gray, 78%);
    }

    &:last-child {
      border-right: none;

      @media #{$mobile} {
        border-bottom: none;
      }
    }
  }

  &__header {
    text-align: center;
    color: $red;
    font-weight: bolder;
    font-size: 2.3em;
  }

  &__subheader {
    text-align: center;
    font-size: 1.1em;
    color: lighten($gray, 40%);
  }
}

.services {
  margin: 0;
  padding: 19px;
  list-style: none;

  &__item {
    font-size: 1.2em;
    padding: 15px;
    color: $gray;
    border-bottom: 1px solid lighten($gray, 78%);
    min-height: 50px;
    display: flex;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
    flex-direction: row;

    &:last-child {
      border-bottom: none;
    }

    &__context {
      color: lighten($gray, 18%);
      font-size: .7em;
      flex: 0 0 100%;
    }
  }
}
