doctype html
html(lang="en")
  head
    include ../partials/meta

    meta(property="og:image:height" content="377")
    meta(property="og:image:width" content="720")
    meta(property="og:title" content="PepperLabs.io")
    meta(property="og:description" content="Software development problems?")
    meta(property="og:url" content="https://pepperlabs.io")
    meta(property="og:image" content="https://pepperlabs.io/static/og-share.png")
    link(rel="canonical" href="https://pepperlabs.io")
    title PepperLabs.io | build better products with an experienced team
    style.
      body {
        margin: 0;
      }

      .hero {
        background-color: #2B2B2B;
        color: #fff;
      }

      .hero__wrapper {
        height: 75vh;
        min-height: 500px;
        overflow: hidden;
      }

      .hero__text {
        position: absolute;
        width: 45%;
        top: 50%;
        transform: translateY(-50%);
        text-align: right;
        margin-left: 17px;
      }

      .hero__text__header {
        font-size: 5em;
        text-align: left;
      }

      .hero__illustration {
        height: 80%;
        width: 80%;
        position: absolute;
        right: 0;
        text-align: right;
      }
  body
    .site-wrapper
      .hero
        include ../partials/logo-bw
        .hero__wrapper
          .hero__text
            .hero__text__wrapper
              h1.hero__text__header build better products
              div
                h2.hero__text__subheader
                  | We provide professional hands-on engineering, training, coaching
                  | to bring cutting edge technology and agility to your business.
                a(href="#contact-us").button.button--white find out more
          .hero__illustration
            include hero.svg

      .about
        .about__col
          .about__header culture
          .about__subheader company culture
          ul.services
            li.services__item end-to-end agile transformation
            li.services__item agile coaching, mentoring
            li.services__item agile training

        .about__col
          .about__header product
          .about__subheader onsite agile product development
          ul.services
            li.services__item agile engineering
              .services__item__context (processes, best practices, CI/CD, TDD, pair programming)
            li.services__item legacy code modernization
            li.services__item product design, development & launch

        .about__col
          .about__header technology
          .about__subheader remote software delivery
          ul.services
            li.services__item software solution delivery
              .services__item__context (UX, UI, iOS, android, backend, frontend)
            li.services__item cloud technologies
              .services__item__context (migration, architecture)
            li.services__item data driven solutions
              .services__item__context (data engineering / machine learning / reporting / data analysis)

      .testimonials
        .testimonials__content
          .testimonials__employers
            img.testimonials__employer(src="/static/chatler.png" alt="Chatler.ai")
            img.testimonials__employer(src="/static/supercharge.png" alt="Supercharge")
            img.testimonials__employer(src="/static/kpmg.png" alt="KPMG")
            img.testimonials__employer(src="/static/emarsys.png" alt="Emarsys")
            img.testimonials__employer(src="/static/nng.png" alt="NNG")
            img.testimonials__employer(src="/static/telekom.png" alt="Telekom")
            img.testimonials__employer(src="/static/clipdis.png" alt="ClipDis")
            img.testimonials__employer(src="/static/themealplanner.png" alt="The Mealplanner")
          p.testimonials__text
            | We've been delivering software for years with the main focus on quality.
            | Working in many industries including e-commerce, telco and banking gives us the advantage to have a deep
            | understanding of how great software is built.
          img.testimonials__illustration(src="/static/testimonials.svg" alt="trusted by our employers" width="100%")

      .team
        .team__illustration.team__side
          img(src="/static/pepper.svg" alt="Spice up your development")
        .team__content
          h2.team__header well-seasoned,
            br
            | battle-tested team
          .team__members
            .team__member
              .team__member__picture
                img(src="/static/richard-tamaska.jpg" srcset="/static/richard-tamaska.jpg, /static/richard-tamaska@2x.jpg 2x" alt="Richárd Tamaska")
              .team__member__info
                .team__member__name Richárd Tamaska
                .team__member__responsibility Partner
                .team__member__bio certified agile coach & scrum master, corporate agile transformation expert
            .team__member
              .team__member__picture
                img(src="/static/richard-szabo.jpg" srcset="/static/richard-szabo.jpg, /static/richard-szabo@2x.jpg 2x" alt="Richárd Szabó")
              .team__member__info
                .team__member__name Richárd Szabó
                .team__member__responsibility Partner
                .team__member__bio mobile architect, DevOps expert & agile developer
            .team__member
              .team__member__picture
                img(src="/static/gabor-dobrei.jpg" srcset="/static/gabor-dobrei.jpg, /static/gabor-dobrei@2x.jpg 2x" alt="Gábor Döbrei")
              .team__member__info
                .team__member__name Gábor Döbrei
                .team__member__responsibility Partner
                .team__member__bio cloud architect, former startup exec, lecturer and researcher at BUTE
            .team__member
              .team__member__picture
                img(src="/static/bence-somogyi.jpg" srcset="/static/bence-somogyi.jpg, /static/bence-somogyi@2x.jpg 2x" alt="Bence Somogyi")
              .team__member__info
                .team__member__name Bence Somogyi
                .team__member__responsibility Partner
                .team__member__bio frontend expert, senior agile developer, former startupper
            .team__member
              .team__member__picture
                img(src="/static/judit-dobrei-rakonczai.jpg" srcset="/static/judit-dobrei-rakonczai.jpg, /static/judit-dobrei-rakonczai@2x.jpg 2x" alt="Judit Döbrei-Rakonczai")
              .team__member__info
                .team__member__name Judit Döbrei-Rakonczai
                .team__member__responsibility Partner
                .team__member__bio management reporting and BI expert, senior data analyst, former GE, former KPMG

        .team__side

      .contact#contact-us
        .contact__header chill out, we've got this
        p.contact__content
          a.contact__link(href="mailto:info@pepperlabs.io") info@pepperlabs.io
