@import '../style/variables.scss';

.hero {
  height: $heroHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $almostBlack;
  background-image: url('/assets/lnading-hero@2x.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto 100%;

  @media #{$iPad} {
    height: $heroHeightSmall;
    background-image: url('/assets/lnading-hero.jpg');
  }

  &__text {
    @media #{$mobile} {
      margin: 30px;
    }

    &__header {
      font-weight: bolder;
      margin: 0;
      width: 100%;
      text-align: center;
      font-size: 100px;

      @media #{$iPad} {
        font-size: 80px;
      }

      @media #{$mobile} {
        font-size: 10vw;
        text-align: left;
      }
    }

    &__subheader {
      font-weight: normal;
      margin: 0;
      width: 780px;
      font-size: 26px;

      @media #{$iPad} {
        width: 640px;
        font-size: 22px;
      }

      @media #{$mobile} {
        width: auto;
        font-size: 16px;
      }
    }
  }
}

.culture {
  background-color: $almostWhite;
  background-image: url('/assets/background-circle.svg');
  background-position: top right;
  padding: 170px 0;
  background-repeat: no-repeat;

  @media #{$mobile} {
    padding: 100px 0;
    background-position: 60% 0;
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @media #{$mobile} {
      width: 90%;
    }

    &__text {
      flex: 0 1 550px;
    }
  }
}

.software-delivery {
  background: linear-gradient(180deg, #C44949 0%, #D75C5C 100%);;
  padding: 170px 0;
  position: relative;

  @media #{$mobile} {
    padding: 100px 0;
  }

  &:after {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-image: url('/assets/lines.svg');
    background-repeat: no-repeat;
    background-position: 80% 0;
    display: block;
    content: '';
    pointer-events: none;
    background-size: contain;
    z-index: 0;
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: relative;

    @media #{$mobile} {
      width: 90%;
    }

    &__text {
      flex: 0 1 550px;
    }
  }
}

.product-vision {
  padding: 170px 0;
  background-color: $almostWhite;
  background-image: url('/assets/angles.svg');
  background-size: cover;

  @media #{$mobile} {
    padding: 100px 0;
    background-position: 60% 0;
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @media #{$mobile} {
      width: 90%;
    }

    &__text {
      flex: 0 1 550px;
    }
  }
}

.section {
  &__title {
    font-weight: 900;
    font-size: 40px;
    text-transform: lowercase;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 10px;

    @media #{$mobile} {
      font-size: 1.5em;
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30px;
      border: 1px solid $almostBlack;
      content: '';
      display: block;
    }

    &--red {
      color: #431818;

      &:after {
        border: 1px solid #431818;
      }
    }
  }

  &__text {
    font-size: 20px;

    @media #{$mobile} {
      font-size: 1.1em;
    }

    &--red {
      color: #431818;
    }
  }
}

.team {
  padding: 47px 0;
  margin: 0 auto;
  display: flex;
  max-width: 1200px;

  @media #{$iPad} {
    max-width: 90%;
  }

  &__content {
    flex: 1 1 60%;

    @media #{$iPad} {
      width: auto;
      margin: 0;
    }
  }

  &__side {
    flex: 1 1 20%;

    @media #{$iPad} {
      display: none;
    }
  }

  &__illustration {
    img {
      width: 120%;
      margin-left: -50%;

      @media #{$iPad} {
        display: none;
      }
    }
  }

  &__header {
    margin: 0 0 43px;
    color: $red;
    font-size: 3em;
    font-weight: bolder;
    line-height: 1;
  }

  &__members {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    @media #{$iPad} {
      display: block;
    }
  }

  &__member {
    $margin: 27px;
    flex: 1 1 50%;
    max-width: 50%;
    display: flex;
    align-items: center;

    @media #{$iPad} {
      display: block;
      max-width: none;
    }

    &__picture {
      $pictureSize: 130px;
      flex: 0 0 $pictureSize;
      width: $pictureSize;
      height: $pictureSize;
      overflow: hidden;
      border-radius: 50%;
      margin: $margin;
      box-shadow: 11px 11px 33px rgba(0, 0, 0, .3);

      @media #{$iPad} {
        $mobileSize: $pictureSize * 0.9;
        flex: 0 0 $mobileSize;
        width: $mobileSize;
        height: $mobileSize;
        margin: $margin auto;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__info {
      margin: $margin 0 $margin;
      color: $gray;
    }

    &__name {
      font-size: 1.3em;
      font-weight: bold;
      color: $red;
      margin-bottom: 11px;
    }

    &__bio {
      font-size: 1.2em;
    }
  }
}

.testimonials {
  &__content {
    background: $almostBlack;
    padding: 17px;
  }

  &__text {
    color: #fff;
    padding: 37px;
    font-size: 2.25em;
    font-weight: bolder;
    line-height: 1;
    max-width: 960px;
    margin: 37px auto;

    @media #{$iPad} {
      margin: 0 auto;
      font-size: 1.5em;
      padding: 17px;
    }
  }

  &__employers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 37px;

    @media #{$iPad} {
      padding: 0 9px;
    }
  }

  &__employer {
    transform: scale(0.3);
  }
}
