@import './variables.scss';

.common-hero {
  z-index: 1;
  background: $almostBlack;

  &__wrapper {
    position: relative;
    height: 600px;

    @media #{$iPad} {
      min-height: 390px;
      height: auto;
    }

    @media only screen and (width: 1024px) and (height: 768px) {
      min-height: 600px;
    }

    @media only screen and (height: 1024px) and (width: 768px) {
      max-height: 350px;
    }

    @media only screen and (min-width: $maxWidth) {
      min-height: auto;
      max-height: 400px;
    }
  }

  &__text {
    $size: 5.5em;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    word-spacing: 100%;

    @media #{$iPad} {
      text-align: center;
      transform: none;
      width: auto;
      padding: 0;
      position: static;
    }

    &__wrapper {
      text-align: left;
      display: inline-block;

      @media #{$iPad} {
        padding: 17px;
      }
    }

    &__header {
      padding: 0;
      font-weight: 900;
      font-size: 97px;
      color: #fff;
      width: $size;
      margin: 0 0 11px;

      @media #{$tallMobile} {
        font-size: $size * .8;
      }

      @media #{$iPad} {
        font-size: $size * .6;
        width: auto;
      }

      @media #{$smallMobile} {
        font-size: $size * .4;
      }
    }

    &__subheader {
      color: #fff;
      font-weight: normal;
      max-width: 700px;

      @media #{$iPad} {
        font-size: 1.3em;
      }
    }
  }
}

.content {
  padding: 70px 0;
  margin: 0 auto;
  font-size: 1.2em;

  @media #{$iPad} {
    max-width: 90%;
    margin: -70px auto 0;
  }

  &__wrapper {
    max-width: 700px;
    margin: 0 auto;
  }

  &__section {
    padding-top: 30px;

    @media #{$iPad} {
      padding-top: 0;
    }
  }

  &__illustration {
    img {
      max-height: 700px;
      width: 120%;
      margin-left: -50%;

      @media #{$iPad} {
        display: none;
      }
    }
  }

  &__header {
    font-size: 1.7em;
    font-weight: bolder;
    line-height: 1;
    color: $red;
    margin-bottom: 23px;

    @media #{$iPad} {
      margin-bottom: 23px;
    }
  }
}

.services {
  background-color: lighten($gray, 80%);
  margin-top: 77px;
  padding: 44px 0;
  margin-bottom: -37px;

  @media #{$iPad} {
    margin-top: 0;
    padding: 17px 0;
    background-color: transparent;
  }

  &__wrapper {
    max-width: 700px;
    background-color: #fff;
    padding: 33px 77px;
    margin: 0 auto;
    box-shadow: 10px 10px 0 rgba($gray, .1);

    @media #{$iPad} {
      padding: 11px 0;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    @media #{$iPad} {
      display: block;
    }

    &__item {
      flex: 0 0 50%;
      font-size: .9em;
      display: flex;

      &__wrapper {
        padding: 11px;

        @media #{$iPad} {
          padding: 5px;
        }
      }
    }
  }
}
