$maxWidth: 1921px;
$gray: #2B2B2B;
$red: #EC3A3A;
$yellow: #FFD71F;
$blue: #0A3542;

$mobile: "only screen and (max-width : 800px)";
$tallMobile: "only screen and (max-width : 760px)";
$smallMobile: "only screen and (max-width : 374px)";
