nav.navbar
  .navbar__logo
    a.navbar__logo__icon(href="/")
      img.navbar__logo__icon__logo(src="/static/logo.svg" alt="PepperLabs.io" width="100%")
    .navbar__logo__text
      strong Pepper
      | Labs
