doctype html
html(lang="en")
  head
    include ../../partials/meta

    include ../../partials/share

    link(rel="canonical" href="https://pepperlabs.io")
    title build better products with an experienced team

    include ../../partials/style
  body
    .site-wrapper
      section.common-hero
        include ../../partials/navbar

        .common-hero__wrapper
          header.common-hero__text
            .common-hero__text__wrapper
              h1.common-hero__text__header Software Delivery
              div
                h2.common-hero__text__subheader
                  | „Our highest priority is to satisfy the customer through early and continuous
                  | delivery of valuable software.”
                  br
                  | Successful companies have one thing in common: they have a great team!
                  | We understand that it's hard to hunt for engineering talent, so we did that for you!

      article.content
        .content__wrapper
          header.content__header
            | Our company provides top technical talent so your team will be able to deliver more up to date software. We believe that well-crafted software, delivered on time, on budget, leads to more leads and grows your business.
            | Embedded with your team, we can build progressive, scalable, value-driven solutions that solve your problems. You will have enough time to focus on major things that influence your company.

          .content__section
            h1 Quality
            p
              | PepperLabs can help you to achieve nearly zero bugs. Your product solves a really difficult problem, has to meet performance and security requirements, with stable operation. The idea of "no bugs" probably sounds ridiculous. We'll admit: "no bugs" is an ideal to strive for, not something your product will necessarily achieve. You might think that improvements like this are terribly expensive. They're not. With the engineering practices that we use (pair programming, TDD, CI/CD) we are constantly striving to keep the number of bugs near zero.

      include ../../partials/contact
